/.google-cookie
/11-09-2024.py
/3-opgave-klasser.ipynb
/aflevering1.py
/dictionary.ipynb
/dogmain.py
/exercise-dictionaries.ipynb
/geodata.csv
/helloworld.py
/MostWantedList.ipynb
/new_thang.py
/note.ipynb
/Opg2.py
/opg3.py
/petshop.py
/PingpongBall.py
/PingPongBall2.py
/PingPongMain.py
/PingPongMain2.py
/PingPongPaddle.py
/PingPongPaddle2.py
/PingPongStart.py
/scorch.py
/Tests.py
/thing.py
/things.py